.no-margin{margin: 0}

body{overflow-x: hidden}

#intro{
   min-height: 98vh;
   margin-bottom: 2vh;
   overflow: hidden;
   position: relative;
   background-image: url('../img/people.jpg');
   background-size: cover;
   background-position: bottom center;
   background-attachment: fixed;
   background-color: #01579b;
   background-blend-mode: multiply}

#intro:after,
#intro:before{
   content: '';
   width: 0; height: 0;
   position: absolute;
   bottom: 0}

#intro:after{
   border-bottom: 7vh solid white;
   border-left: 25vw solid transparent;
   right: 0}
#intro:before{
   border-bottom: 20vh solid white;
   border-right: 75vw solid transparent;
   left: 0}

#intro .i3eday-logo-wrapper .i3eday-logo-part{
   display: inline-block;
   font-size: 3.056em;
   text-transform: uppercase}

#intro .i3eday-logo-wrapper .i3eday-logo-part:nth-of-type(2) > span{
   display: block;
   line-height: .9;
   font-size: 0.445em}

#intro .i3eday-logo-wrapper .i3eday-logo-part:last-of-type{font-weight: 400}

#intro .i3eday-logo-wrapper img{display: none}

#intro .typed{
   font-weight: bold;
   font-size: 1.2em}

#intro .small{opacity: .8}

#intro .button{
  opacity: .87;
  margin-top: 12px;
  padding-bottom: 3px}

#intro .button:hover{opacity: 1}

#intro .see-more{
   position: absolute;
   bottom: 0; left: 0;
   padding: 3em 9em}

#intro .see-more .gb{will-change: transform}

#intro .see-more:hover .gb{
   -webkit-animation: up_and_down 1.2s infinite;
   -moz-animation: up_and_down 1.2s infinite;
   animation: up_and_down 1.2s infinite}

#about{padding: 4em 0}

#about h2 span{position: relative}

#about h2 span:after{
   background-image: url('../img/ieee.png');
   background-size: 30px 30px;
   display: inline-block;
   width: 30px; height: 30px;
   position: absolute;
   top: 3px; left: -35px;
   content:" ";
   -webkit-transition: -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
           transition: -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
           transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
           transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#about h2:hover span:after{
   -ms-transform: rotateY(360deg);
   -webkit-transform: rotateY(360deg);
   transform: rotateY(360deg)}

#carousel{padding: 2em 0}

#carousel .owl-stage-outer{height: 343px}

#carousel .owl-item .upper-img img{
   padding: 4px 3px;
   margin-right: 50%;
   margin-bottom: -25%}

#carousel .owl-item .lower-img  img{padding: 3px}

#poster{padding: 5em 0}

#poster .desktop-8{margin: 2em 0}

#poster .poster{padding: 0 0 0 3em}

#teaser{padding: 4em 0 0}

#teaser .vida-poster-icon .gb{font-size: 72px}

#lecturers{padding: 4em 0}

#lecturers .lecturer{padding: 124px 24px 24px}

#lecturers .lecturer > div{
   min-height: 361px;
   padding: 0 2em 1em}

#lecturers .lecturer img{
   padding: 0 20% .5em;
   margin-top: -100px}

#lecturers .lecturer .h4{
   font-weight: bold;
   margin: .5em 0}

#lecturers .lecturer .grey-darken-2-text{height: 5em}

#lecturers .lecturer .desc-wrapper{
   display: table;
   height: 7em;
   width: 100%}

#lecturers .lecturer .desc-wrapper .desc-content{
   display: table-cell;
   vertical-align: middle}

#lecturers .lecturer .desc-wrapper p{font-size: 12px}

#timeline ul{padding: 3.125em 0}

#timeline ul li{
  list-style-type: none;
  position: relative;
  width: 0.375em;
  margin: .1px auto;
  padding-top: 3.125em}

#timeline ul li::after {
  content: '';
  position: absolute;
  right: 50%; bottom: 0;
  width: 30px; height: 30px;
  border-radius: 50%;
  background: inherit;
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out}

#timeline ul li.in-view::after{background: #1e88e5}

#timeline ul li div{
  position: relative;
  bottom: 15px;
  width: 400px;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
   -webkit-transition all .5s ease-in-out;
  transition: all .5s ease-in-out}

#timeline ul li div::before{
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0; height: 0;
  border-style: solid}

#timeline ul li:nth-child(even) div{
   -webkit-transform: translate3d(-200px, 0, 0);
   transform: translate3d(-200px, 0, 0);
   right: 45px}

#timeline ul li:nth-child(even) div::before{
  right: -15px;
  border-width: 16px 0 0 16px;
  border-color: transparent transparent transparent #01579b}

#timeline ul li:nth-child(odd) div{
   -webkit-transform: translate3d(200px, 0, 0);
   transform: translate3d(200px, 0, 0);
   right: -439px}

#timeline ul li:nth-child(odd) div::before{
  left: -15px;
  border-width: 16px 16px 0 0;
  border-color: transparent #01579b transparent transparent}

#timeline ul li.in-view div{
  transform: none;
  visibility: visible;
  opacity: 1}

#getTicket{padding: 4em 0}

#getTicket #buttonWrapper{margin: 8em 0 5em}

#getTicket #buttonWrapper a{margin-bottom: 1em !important}

#getTicket #buttonWrapper.soldout a{
   pointer-events: none;
   cursor: not-allowed;
   text-decoration: line-through}

#getTicket #buttonWrapper small{
   font-size: 12px;
   display: block}

#map #mapCanvas{width: 60%; height: 350px}

#map #mapDesc{
   display: table;
   position: absolute;
   top: 0; left: 0;
   width: 40%; height: 350px;
   padding: 4em}

#map #mapDesc p{
   line-height: 2;
   text-align: justify;
   margin: 0;
   display: table-cell;
   vertical-align: middle}

#partners{padding: 4em 0}

#partners .partner{
   padding: 1em;
   display: block}

#partners .partner p{
   margin: 1em 0;
   font-size: 12px}

#partners .partner img{
   width: 100%;
   height: 100px}

footer p{
   margin: .5em 0 0;
   font-size: 12px}

footer p .date{float: left}

@media screen and (min-width: 992px) and (max-width: 1199px) {
   #carousel .owl-stage-outer{height: 283px}

   #poster .desktop-8{margin: -1em 0}

   #lecturers .lecturer img{margin-top: -75px}

   #lecturers .lecturer .h4{height: 6em 0}

   #lecturers .lecturer{padding: 100px 24px 24px}
}

@media screen and (min-width:768px) and (max-width: 991px) {
   #carousel .owl-stage-outer{height: 354px}

   #poster .desktop-8{margin: -2em 0 1em}

   #lecturers .lecturer .h4{height: 5em 0}

   #poster .poster{padding: 0 3em}

   #timeline ul li div{width: 250px}

   #timeline ul li:nth-child(odd) div{right: -289px}

   #getTicket #buttonWrapper{margin: 1em 0}
}

@media screen and (max-width: 767px) {
   #intro{
      padding: 0 1em;
      height: 100vh}

   #intro:after,
   #intro:before{content: none}

   #intro .i3eday-logo-wrapper .i3eday-logo-part{display: none}

   #intro .i3eday-logo-wrapper img{display: block}

   #intro .typed{min-height: 2.856em}

   #intro .see-more{
      color: white;
      right: 0;
      padding: 3em 0;
      text-align: center}

   #about,
   #poster{padding: 0 1em}

   #carousel .owl-stage-outer{height: auto}

   #poster .desktop-8{margin: 0}

   #poster .poster{padding: 0 3em}

   #lecturers{padding: 1em}

   #lecturers .lecturer{padding: 124px 12px 24px}

   #lecturers .lecturer > div{min-height: auto}

   #lecturers .lecturer .h4{height: auto}

   #lecturers .lecturer .desc-wrapper{height: auto}

   #timeline ul li{margin-right: 20px}

   #timeline ul li div{width: calc(100vw - 91px)}

   #timeline ul li:nth-child(odd) div{right: 45px}

   #timeline ul li:nth-child(odd) div::before{
     right: -15px;
     border-width: 16px 0 0 16px;
     border-color: transparent transparent transparent #01579b}

   #getTicket{padding: 2em 1em}

   #getTicket #buttonWrapper{margin: 1em 0}

   #map #mapDesc,
   #map #mapCanvas{
      width: 100%;
      position: static}

   #map #mapDesc{height: auto}

   #partners{padding: 0 1em 0}

   #partners .partner{padding: 0}

   footer p .date{
      width: 100%;
      margin: .5em 0 0;
      text-align: center}
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes up_and_down{
   0% { transform: translateY(0) }
   30% { transform: translateY(0.8em) }
   100% { transform: translateY(0) }
}
@-webkit-keyframes up_and_down{
   0% { -webkit-transform: translateY(0) }
   30% { -webkit-transform: translateY(0.8em) }
   100% { -webkit-transform: translateY(0) }
}
@-moz-keyframes up_and_down{
   0% { transform: translateY(0) }
   30% { transform: translateY(0.8em) }
   100% { transform: translateY(0) }
}
