.no-margin{margin: 0}

#intro{
   min-height: 98vh;
   margin-bottom: 2vh;
   overflow: hidden;
   position: relative;
   background-image: url('../img/people.jpg');
   background-size: cover;
   background-position: bottom center;
   background-attachment: fixed;
   background-color: #01579b;
   background-blend-mode: multiply;}

#intro:after,
#intro:before{
   content: '';
   width: 0; height: 0;
   position: absolute;
   bottom: 0;}

#intro:after{
   border-bottom: 7vh solid white;
   border-left: 25vw solid transparent;
   right: 0;}
#intro:before{
   border-bottom: 20vh solid white;
   border-right: 75vw solid transparent;
   left: 0;}

#intro .i3eday-logo-wrapper .i3eday-logo-part{
   display: inline-block;
   font-size: 3.056em;
   text-transform: uppercase}

#intro .i3eday-logo-wrapper .i3eday-logo-part:nth-of-type(2) > span{
   display: block;
   line-height: .9;
   font-size: 0.445em}

#intro .i3eday-logo-wrapper .i3eday-logo-part:last-of-type{font-weight: 400}

#intro .typed{
   font-weight: bold;
   font-size: 1.2em;}

#intro .small{opacity: .8}

#intro .see-more{
   position: absolute;
   bottom: 0; left: 0;
   padding: 3em 9em;}

#intro .see-more .gb{will-change: transform}

#intro .see-more:hover .gb{
   -webkit-animation: up_and_down 1.2s infinite;
   -moz-animation: up_and_down 1.2s infinite;
   animation: up_and_down 1.2s infinite;}

#about{padding: 4em 0}

#carousel{padding: 2em 0}

#carousel .owl-stage-outer{height: 343px}

#carousel .owl-item img{padding: 6px}

#carousel .owl-item img:first-of-type{
   margin-right: 50%;
   margin-bottom: -25%;}

#poster{padding: 5em 0}

#poster .desktop-8{margin: 4em 0}

#poster .poster{padding: 0 3em}

#teaser{padding: 4em 0 0}

#teaser .vida-poster-icon .gb{font-size: 72px}

#lecturers{padding: 4em 0}

#lecturers .lecturer{
   padding: 124px 24px 24px
}

#lecturers .lecturer > div{
   min-height: 320px;
   padding: 0 2em 1em}

#lecturers .lecturer img{
   padding: 0 20% .5em;
   margin-top: -100px}

#lecturers .lecturer .h4{
   font-weight: bold;
   margin: .5em 0;
}

#getTicket{padding: 4em 0}

#getTicket #buttonWrapper{margin: 7em 0 5em}

#getTicket #buttonWrapper a{margin-bottom: 1em !important;}

#getTicket #buttonWrapper.soldout a{
   pointer-events: none;
   cursor: not-allowed;
   text-decoration: line-through}

#getTicket #buttonWrapper small{
   font-size: 12px;
   display: block;}

#map #mapCanvas{width: 60%; height: 350px}

#map #mapDesc{
   display: table;
   position: absolute;
   top: 0; left: 0;
   width: 40%; height: 350px;
   padding: 4em}

#map #mapDesc p{
   line-height: 2;
   text-align: justify;
   margin: 0;
   display: table-cell;
   vertical-align: middle;}

#partners{padding: 4em 0}

#partners .partner{
   padding: 1em;
   display: block;}

#partners .partner p{
   margin: 1em 0;
   font-size: 12px}

footer p{
   margin: .5em 0 0;
   font-size: 12px}

footer p .date{float: left}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes up_and_down{
   0% { transform: translateY(0) }
   30% { transform: translateY(0.8em) }
   100% { transform: translateY(0) }
}
@-webkit-keyframes up_and_down{
   0% { -webkit-transform: translateY(0) }
   30% { -webkit-transform: translateY(0.8em) }
   100% { -webkit-transform: translateY(0) }
}
@-moz-keyframes up_and_down{
   0% { transform: translateY(0) }
   30% { transform: translateY(0.8em) }
   100% { transform: translateY(0) }
}
