.vida{position: relative;}

.vida .vida-poster{
   background-size: cover;
   background-repeat: none;
   background-position: center;}

.vida .vida-poster{
   position: absolute;
   top: 0; right: 0;
   width: 100%; height: 100%;
   cursor: pointer}

.vida .vida-poster .vida-poster-icon{
   display: table;
   width: 100%; height: 100%}

.vida .vida-poster .vida-poster-icon .vida-icon{
   display: table-cell;
   text-align: center}

.vida .vida-controls{
   position: absolute;
   right: 0; bottom: 0;
   width: 100%;
   opacity: 0;
   background-color: rgba(0,0,0, 0.47);
   transition: 300ms all ease;}

.vida .vida-controls::before,
.vida .vida-controls::after{
    content: "";
    display: table;
    clear: both}

.vida:hover .vida-controls{opacity: 1}

.vida .vida-controls .vida-play-icon{
   float: left;
   width: 10%;
   position: relative;
   padding: 12px;
   text-align: center;
   cursor: pointer;
   text-shadow: 1px 1px 0px rgba(0,0,0, .21);
   transition: 300ms all ease;}

.vida .vida-controls .vida-play-icon:hover{background-color: #01579b;}

.vida .vida-controls .vida-play-progressbar{
   width: 100%; height: 3px;
   cursor: pointer;
   position: absolute;
   background-color: rgba(0,0,0, 0.47);
   left: 0; top: -3px;
   transition: 300ms all ease;}

.vida .vida-controls .vida-play-progressbar:hover{
   background-color: rgba(0,0,0, 0.87);
   height: 6px;
   top: -6px;}

.vida .vida-controls .vida-play-progressbar .vida-play-passed{
   float: left;
   height: 100%;
   background-color: #01579b;}

.vida .vida-controls .vida-play-name{
   float: left;
   text-align: left;
   padding: 6px 12px;
   width: 70%;
   right: 20%;
   position: relative;}

.vida .vida-controls .vida-play-name p{
   margin: 0;
   color: white;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;}

.vida .vida-controls .vida-play-name p.vida-play-title{
   font-weight: 500;
   font-size: 14px;}

.vida .vida-controls .vida-play-name p.vida-play-subtitle{
   opacity: .57;
   font-size: 12px;}

.vida .vida-controls .vida-play-time{
   float: left;
   width: 20%;
   left: 70%;
   position: relative;
   padding: 16px 12px;
   font-size: 12px;
   direction: ltr;
   text-align: right;}

.vida .vida-video{
   width: 100%; height: auto;
   display: block;
   cursor: pointer;}

@media screen and (max-width: 991px) {
   .vida .vida-controls .vida-play-icon{display: none}
   .vida .vida-controls .vida-play-name{width: 60%;right: 40%;}
   .vida .vida-controls .vida-play-time{width: 40%;left: 60%;}
}
